{% import 'bootstrap/wtf.html' as wtf %}
{% extends "base.html" %}
{% block content %}

  <div class="row">
   <div class="col-md-6 col-sm-6 col-xs-12">
     <div class="form-group ">
      <label class="control-label " for="retailer">
       Select a Retailer
      </label>
      <select class="select form-control" id="retailer" name="retailer">
        <option>Select Retailer</option>
        {% for retailer in retailers%}
          <option value="{{retailer}}">{{retailer}}</option>
        {% endfor %}
      </select>
     </div>
     <div class="form-group ">
      <label class="control-label" for="category">
       Select a Category
      </label>
      <select class="select form-control" id="category" name="category">
      </select>
     </div>
   </div>
   <div class="col-md-6 col-sm-6 col-xs-12">
     <div class="form-group ">
      <label class="control-label " for="retailer2">
       Select a Retailer
      </label>
      <select class="select form-control" id="retailer2" name="retailer2">
        <option>Select Retailer</option>
        {% for retailer in retailers%}
          <option value="{{retailer}}">{{retailer}}</option>
        {% endfor %}
      </select>
     </div>
     <div class="form-group ">
      <label class="control-label" for="category2">
       Select a Category
      </label>
      <select class="select form-control" id="category2" name="category2">
      </select>
     </div>
  </div>
  <div class="col-md-12" id="container">
  </div>


{% block footer %}
{{super()}}
{% endblock %}
</div> <!-- /container -->
{% endblock %}
{% block scripts %}
{{super()}}
<script type="text/javascript">
  $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
  $('#retailer, #retailer2').change(function() {
    var retailer = $(this).val()
    if($(this).is('#retailer')){
      var selector = '#category'
    } else {
      var selector = '#category2'
    }
    if (retailer) {
      $.ajax({url: $SCRIPT_ROOT + "/get/categories",
              data: {'retailer': retailer},
              method: 'POST',
              success: function(result){
                $(selector).empty();
                for (index = 0; index < result['categories'].length; ++index) {
                  $(selector).append("<option>" + result['categories'][index] + "</option>");
                }
              }
          })
        }
      })
  $('#category, #category2').change(function() {
    var selector = '#container';
    $.ajax({url: $SCRIPT_ROOT + "/get/category/histogram",
            data: {'retailer1': $("#retailer").val(), 
                   'retailer2': $("#retailer2").val(),
                   'category1': $("#category").val(),
                   'category2': $("#category2").val()},
            method: 'POST',
            success: function(data){
              var graph = $(selector);
              graph.html(data);
            },
           dataType: "html"
        })
    })
</script>
{% endblock %}
